.mobile-menu-btn {
  display: none;
  width: max-content;
  padding: 0 10px;
  margin-left: 10px;
}

@media (max-width: 993px) {
  .mobile-menu-btn {
    /* display: flex; */
    display: block;
  }

  .navheader {
    position: fixed;
    top: 0px;
    left: -250px;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 50%;
    background-color: black;
    border: 2px solid rgba(159, 181, 118, 1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0, 0.25);
    transition: transform 0.5s linear;
  }

  .navheader.active {
    transform: translateX(100%);
  }
  .navbar {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
    padding-left: 60px;
  }

  .LINK {
    display: none;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(34, 34, 34, 1);
}

.header_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  max-width: 120px;
}

.navbar {
  display: flex;
  gap: 15px;
  color: white;
  align-items: center;
}

.color {
  color: white;
}
.navigation {
  display: flex;
  gap: 15px;
}

.link {
  color: white;
  text-decoration: none;
}

.active {
  position: relative;
  color: #fff;
}

.active::after {
  content: "";
  position: absolute;
  width: 110%;
  left: -5%;
  z-index: -1;
  height: 10px;
  bottom: 0;
  background-color: #9fb576;
}

.relative {
  position: relative;
}

button {
  width: 120px;
  height: 30px;
  align-items: center;
  color: white;
  background-color: rgba(159, 181, 118, 1);
  border: 1px solid transparent;
}

.form-content button {
  background-color: rgba(159, 181, 118, 1);
  color: #fff;
}

.form-content button:hover {
  color: white;
  border: 1px solid white;
}
